<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035253931507-65j3tos7j3ll58480aisvthrn83h11o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035253931507-65j3tos7j3ll58480aisvthrn83h11o4</string>
	<key>API_KEY</key>
	<string>AIzaSyBIKW6RHgtPmbUNufX9Pf4EQY0xKjXsOPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1035253931507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>USSProgrm2023.CreateDB</string>
	<key>PROJECT_ID</key>
	<string>iosdatabase2023</string>
	<key>STORAGE_BUCKET</key>
	<string>iosdatabase2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035253931507:ios:55520f062e6d4b3b35c686</string>
</dict>
</plist>